<div class="header">
  <header>
    <img src="assets/img/LOGO.png" alt="Logo de Batoi" class="rounded mx-auto d-block">
  </header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-link" routerLinkActive="active">
          <a routerLink="/" class="btn btn-info">INCIO </a>
        </li>
        <ul class="navbar-nav mr-auto" *ngIf="User; else loginButton">
          <li class="nav-item nav-link" routerLinkActive="active">
            <a routerLink="/contact" class="btn btn-info"> CONTACTO</a>
          </li>
          <li class="nav-item nav-link" routerLinkActive="active">
            <a (click)="logout()" class="btn btn-danger"> LOGOUT</a>
          </li>
        </ul>
        <ng-template #loginButton>
          <li class="nav-item nav-link" routerLinkActive="active">
            <a routerLink="/login" class="btn btn-info"> LOGIN</a>
          </li>
        </ng-template>
      </ul>
      <div class="row">
        <form [formGroup]="searchForm" (ngSubmit)="searchFlights()">
          <div class="input-group mr-5">
            <input type="text" class="form-control" placeholder="Buscar destino" formControlName="destination" />
          </div>
        </form>
      </div>
    </div>
  </nav>
</div>