.header {
    background-size: cover;
    background-image: url(http://api.my/storage/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: white;
}

.navbar{
    background: none !important;
}