<div class="container p-5">
    <h1 class="text-center">FORMULARIO DE CONTACTO</h1>
    <!-- <h2 class="text-center">Ayudanos a mejorar!</h2> -->
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="question">En que podemos ayudarte?</label>
            <textarea type="textarea" formControlName="question" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.question.errors }" rows="4" cols="50" autofocus></textarea>
            <div *ngIf="submitted && f.question.errors" class="invalid-feedback">
                <div *ngIf="f.question.errors.required">Este campo es obligatorio</div>
            </div>
        </div>

        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Enviar
            </button>
        </div>
    </form>
    <div *ngIf="errorMessage" class="container bg-danger p-3">
        <h2 class="text-white">{{ errorMessage }}</h2>
        <p class="text-white">Lo sentimos hemos tenido un pequeño problema y estamos arreglándolo</p>
    </div>
</div>