<div *ngIf="flight" class="container-fluid">

  <div class="text-center my-5">

    <h1>INFORMACIÓN DEL VUELO</h1>

    <ul class="nav nav-tabs" id="myTab" role="tablist">

      <li class="nav-item">
        <a class="nav-link active" id="place-tab" data-toggle="tab" href="#place" role="tab" aria-controls="place"
          aria-selected="true">INICIO/DESTINO</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="flight-tab" data-toggle="tab" href="#flight" role="tab" aria-controls="flight"
          aria-selected="false">VUELO</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="booking-tab" data-toggle="tab" href="#booking" role="tab" aria-controls="booking"
          aria-selected="false">RESERVA</a>
      </li>

    </ul>

    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active my-5" id="place" role="tabpanel" aria-labelledby="place-tab">

        <h2>INICIO:</h2>
        <h4>{{ flight.departure | uppercase }}</h4>

        <br>

        <h2>DESTINO:</h2>
        <h4>{{ flight.destination | uppercase }}</h4>

      </div>

      <div class="tab-pane fade my-5" id="flight" role="tabpanel" aria-labelledby="flight-tab">

        <div class="row">

          <div class="col-6">

            <h3>Asientos disponibles:</h3>
            <h3>{{ flight.seats }}</h3>
    
            <br>
    
            <h3> Precio/persona:</h3>
            <h3>{{ flight.price }}€</h3>

          </div>
          <div class="col-6">
           <h3> Hora de salida </h3>
           <h3>{{flight.started_at}}</h3>

           <br>

           <h3> Hora de Regreso </h3>
           <h3>{{flight.finished_at}}</h3>
          </div>

        </div>

      </div>

      <div class="tab-pane fade my-5" id="booking" role="tabpanel" aria-labelledby="booking-tab">

        <div class="row d-flex justify-content-around">

          <div class="col-12">
            <h4>Cuántos asientos quiere?</h4>
          </div>

          <div class="col-5">
            <div class="input-group mt-5">

              <input type="number" name="quantity" class="form-control" [(ngModel)]="quantity" min="1"
                placeholder="Mín. 1">

              <div class="input-group-append">

                <button class="btn btn-primary" (click)="booking( flight.id,quantity )">
                  Reservar
                </button>

              </div>

            </div>
          </div>

        </div>

      </div>

      <img src="{{flight.photo}}" alt="Card image cap" class="img-fluid rounded mx-auto d-block scale">

    </div>

  </div>