<div class="container">
    <h2 class="text-center my-3">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">El email és obligatorio</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">La contraseña és obligatoria</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Iniciar sesión
            </button>
        </div>
    </form>
    <div *ngIf="errorMessage" class="container bg-danger p-3">
        <h2 class="text-white">{{ errorMessage }}</h2>
        <p class="text-white">El email o la contraseña introducidos no són correctos</p>
    </div>
    <p>No tienes cuenta? <a routerLink="/register" class="btn btn-link">Regístrate</a></p>
</div>