<h1 class="text-center my-5">INFORMACIÓN DE LA CUENTA</h1>

<ul class="nav nav-tabs my-5" id="myTab" role="tablist">

  <li class="nav-item">
    <a class="nav-link active" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="place"
      aria-selected="true">USUARIO</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="flights-tab" data-toggle="tab" href="#flights" role="tab" aria-controls="flight"
      aria-selected="false">RESERVAS</a>
  </li>

</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active my-5 mx-3" id="user" role="tabpanel" aria-labelledby="user-tab">

    <div class="container">
      <label for="name">Nombre:</label>
      <br>
      <input class="form-control" type="text" value="{{user.name}}" disabled>

      <br>

      <label for="name">Email:</label>
      <br>
      <input class="form-control" type="text" value="{{user.email}}" disabled>

    </div>

  </div>

  <div class="tab-pane fade my-5" id="flights" role="tabpanel" aria-labelledby="flights-tab">
    <h2 class="text-center">VUELOS RESERVADOS</h2>
    <div class="container-fluid">
      <div *ngIf="bookings.length > 0; else loggedOut">
        <div class="row">
          <div *ngFor="let booking of bookings" class="col-2 mb-3 border text-center">
            <mdb-card>
            </mdb-card>
            <mdb-card-body>
              <mdb-card-title>
                <h4 class="card-title"> VUELO CON ID: {{ booking.flight_id }}</h4>
              </mdb-card-title>
              <mdb-card-text>
                Coste: {{ booking.cost}} €
              </mdb-card-text>
              <mdb-card-text>
                Plazas compradas: {{ booking.places }}
              </mdb-card-text>
              <mdb-card-text>
                <a routerLink="/flight/{{ booking.flight_id }}" class="btn btn-info">VER VUELO RESERVADO <i class="fas fa-arrow-right"></i> </a>
              </mdb-card-text>
              <mdb-card-text>
                <button class="btn btn-danger" (click)="delete(booking.id)"><i class="fas fa-trash"></i> CANCELAR RESERVA</button>
              </mdb-card-text>
            </mdb-card-body>
          </div>
        </div>
      </div> 
      <ng-template #loggedOut>
        <div class="container">
          <div class="d-flex justify-content-center">
            <h2 class="">Aún no tienes ninguna reserva <i class="fas fa-sad-tear"></i></h2>
          </div>
            <div class="d-flex justify-content-center">
            <a routerLink="/" class="btn btn-primary"> VER VUELOS -></a>
            </div>
          </div>
      </ng-template>
    </div>
  </div>

</div>