<div class="row">

    <div class="offset-5 col-2">
        <h1 class="text-center">VUELOS </h1>
    </div>


    <div class="offset-3 col-2 text-right" *ngIf="user">
        <h2><a routerLink="/user" class="btn btn-primary"><i class="fas fa-user"></i> {{ user.name }}</a></h2>
    </div>

</div>

<div class="container-fluid">
    
        <div *ngIf="filteredFlights; else Expectedflights">
            <div class="row">
            <div *ngFor="let filteredFlight of filteredFlights" class="col-3 mb-3">
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                        <mdb-card-img src="{{filteredFlight.photo}}" alt="Card image cap">
                        </mdb-card-img>
                        <a routerLink="/flight/{{filteredFlight.id}}">
                            <div class="mask"></div>
                        </a>
                    </div>
                </mdb-card>
                <mdb-card-body>
                    <mdb-card-title>
                        <h4 class="card-title"> {{ filteredFlight.destination }}</h4>
                    </mdb-card-title>
                    <mdb-card-text>
                        Precio {{ filteredFlight.price }}€
                    </mdb-card-text>
                    <mdb-card-text>
                        {{ filteredFlight.started_at }} - {{ filteredFlight.finished_at }}
                    </mdb-card-text>
                    <a routerLink="/flight/{{filteredFlight.id}}" class="btn btn-primary">Ver oferta <i
                            class="fas fa-arrow-right"></i></a>
                </mdb-card-body>
            </div>
        </div>
    </div>
    <ng-template #Expectedflights>
    <div class="row">
        <div *ngFor="let flight of flights" class="col-3 mb-3">
            <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <mdb-card-img src="{{flight.photo}}" alt="Card image cap">
                    </mdb-card-img>
                    <a routerLink="/flight/{{flight.id}}">
                        <div class="mask"></div>
                    </a>
                </div>
            </mdb-card>
            <mdb-card-body>
                <mdb-card-title>
                    <h4 class="card-title"> {{ flight.destination }}</h4>
                </mdb-card-title>
                <mdb-card-text>
                    Precio {{ flight.price }}€
                </mdb-card-text>
                <mdb-card-text>
                    {{ flight.started_at }} - {{ flight.finished_at }}
                </mdb-card-text>
                <a routerLink="/flight/{{flight.id}}" class="btn btn-primary">Ver oferta <i
                        class="fas fa-arrow-right"></i></a>
            </mdb-card-body>
        </div>
    </div>
</ng-template>
</div>