<div class="container">
    <h2 class="text-center my-3">Regístrate</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" formControlName="name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">El nombre és un campo obligatorio</div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">El email és obligatorio</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">La contraseña és obligatoria</div>
                </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Registrate
            </button>
        </div>
    </form>
    <div *ngIf="errorTitle && errorMsg" class="container bg-danger p-3">
        <h2 class="text-white">{{ errorTitle }}</h2>
        <p class="text-white">{{ errorMsg }}</p>
    </div>
    <p>Ya tienes cuenta? <a routerLink="/login" class="btn btn-link">Inicia sesión</a></p>
</div>